<div style="width: 50rem;" class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="mensagemErro">
  {{ mensagemErro }}
  <button type="button" class="close" aria-label="Close" (click)="onClearError()">X</button>
</div>
<div class="card" style="width: 50rem;">
  <div class="card-header">
    Detalhes do Proprietário
  </div>
  <div class="card-body">
    <h5 class="card-title" style="font-weight: bold"> {{ proprietario.nome }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">CPF: {{ proprietario.cpf }}</li>
    <li class="list-group-item">RG: {{ proprietario.rg }}</li>
    <li class="list-group-item">Data de Nascimento: {{ proprietario.data_nascimento | date:"dd/MM/YYYY" }}</li>
    <li class="list-group-item">Profissão: {{ proprietario.profissao }}</li>
    <li class="list-group-item">Celular: {{ proprietario.celular }}</li>
    <li class="list-group-item">Telefone: {{ proprietario.telefone }}</li>
    <li class="list-group-item">Email: {{ proprietario.email }}</li>
    <li class="list-group-item">Estado Civil: {{ proprietario.estado_civil }}</li>
    <li class="list-group-item"
        *ngFor="let endereco of proprietario.enderecos, let i = index;">
      Endereço nº{{i+1}}: <br>
      <div *ngIf="endereco.bloco">
        Bloco: {{ endereco.bloco }}
      </div>
      <div *ngIf="endereco.andar">
        Andar: {{ endereco.andar }}
      </div>
      Rua: {{ endereco.rua }}, nº: {{ endereco.numero }} <br>
      Bairro: {{ endereco.bairro }} <br>
      Cidade/Estado: {{ endereco.cidade}}/{{ endereco.estado}} <br>
      CEP: {{endereco.cep }}</li>
    <li class="list-group-item"
        *ngFor="let imovel of proprietario.imoveis, let i = index;">
      Imóvel nº{{i+1}}: <br>
      Matrícula: {{ imovel.matricula }} <br>
      Data de Aquisição: {{ imovel.data_posse | date: "dd/MM/YYYY" }}
    </li>
  </ul>
  <div class="card-footer bg-transparent">
    <button class="btn btn-info mr-3" (click)="onEdit()">Editar</button>
    <button class="btn btn-danger" (click)="onPerguntar()">Excluir</button>
    <br>
    <br>
    <span *ngIf="isExclusao">
      Deseja mesmo excluir?
      <button class="btn btn-danger" (click)="onDelete()">Sim</button>
      <button class="btn btn-secondary ml-2" (click)="onRetornar()">Não</button>
    </span>
  </div>
</div>



